
{% if site.google.tracking_id %}
    {% include JB/analytics.html %}
{% endif %}
{% if site.google.ad_client %}
    {% include JB/ad-block.html %}
{% endif %}

{% seo %}
<meta property="og:type"   content="{% if page.type %}{{ page.type }}{% else %}website{% endif %}" /> 

<!-- CSS loaded by the children page -->
{% if page.css %}<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/css/{{ page.css }}" />{% endif %}
{% if page.custom-head %}
    {{ page.custom-head }}
{% endif %}
