
{% if site.google.tagmanager_id %}
<!-- Google Tag Manager -->
<amp-analytics config="https://www.googletagmanager.com/amp.json?id={{ site.google.tagmanager_id }}&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>
<!-- End Google Tag Manager -->
{% endif %}
{% if site.google.tracking_id %}
<amp-analytics type="googleanalytics">
        <script type="application/json">
        {
          "vars": {
            "account": "{{ site.google.tracking_id }}"
          },
          "triggers": {
            "track": {
              "on": "visible",
              "request": "ViewContent"
            }
          }
        }
        </script>
</amp-analytics>
{% endif %}

{% if site.google.optimize_id %}
<amp-analytics id='analytics1' type='googleanalytics'>
    <script type='application/json'>
        {
          "vars": {
            "account": "{{ site.google.optimize_id }}"
          },
          "requests": {
             "experiment": "${pageview}&xid=${xid}&xvar=${xvar}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "experiment",
               "vars": {
                 "xid": "{{ site.google.optimize_experiment_id }}",
                 "xvar": "VARIANT(experimentName)"
               }
            }
          }
        }
    </script>
</amp-analytics>
{% endif %}

{% if site.facebook.pixel %}
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics type="facebookpixel" id="facebook-pixel">
    <script type="application/json">
        {
            "vars": {
                "pixelId": "{{site.facebook.pixel}}"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>
    <!-- End Facebook Pixel Analytics example -->
{% endif %}    


<!-- ESEMPIO COMPLETO Facebook Pixel Analytics tracking 
<amp-analytics type="facebookpixel" id="facebook-pixel">
        <script type="application/json">
        {
          "vars": {
            "pixelId": "1760516960931795"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            },
            "trackEvent": {
              "on": "click",
              "selector": "#test1",
              "request": "event",
              "vars": {
                "eventName": "ClickedBtn-x"
              }
            },
          "trackSearch": {
            "on": "visible",
            "request": "eventSearch",
            "vars": {
              "search_string": "How to use Facebook Pixel in AMP Pages"
            }
          },
          "trackAddToWishlist": {
            "on": "click",
            "selector": "#test1",
            "request": "eventAddToWishlist",
            "vars": {
              "content_ids": ["1234"],
              "content_name": "The Avengers",
              "content_category": "Entertainment",
              "value": 1.50,
              "currency": "USD"
            }
          }
          }
        }
        </script>
    </amp-analytics> -->