---
layout: default
title: fomofoto Blog
description: Notizie e informazioni dal mondo della fotografia dia fomofoto
permalink: /blog/
img: assets/images/social/home.jpg
image: assets/images/social/home.jpg
custom-head:
  type: 'article'
---

<main id="content" role="main" class="main md-flex flex-wrap items-start">
  <section class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt1 md-pb3">
    <h1 class="xs-hide sm-hide md-commerce-header h3 md-py2 md-mb4">Blog di Fomofoto</h1>

    {% assign posts_ordered = paginator.posts | sort: 'date' | reverse %}
    {% for post in posts_ordered %}
      <article>
        {% if post.image %}
          <a href="{{ site.baseurl }}{{ post.url }}">
            <amp-img
              class="mb3"
              src="{{ post.image }}"
              srcset="{{ post.image }} 750w, {{ post.image }} 1280w"
              width="750"
              height="427"
              layout="responsive"
              alt="{{ post.title | escape }}"
              noloading>
            </amp-img>
          </a>
        {% endif %}
        <div class="mb3 md-mx0">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <h2 class="h3">{{ post.title }}</h2>
          </a>
          <p class="mb2">{{ post.description | remove: '<p>' | remove: '</p>' }}</p>
          <a href="{{ site.baseurl }}{{ post.url }}" class="commerce-blog-link inline-block h7 md-mb4">Leggi tutto</a>
        </div>
      </article>
    {% endfor %}

    <!-- Paginazione AMP-friendly -->
    <nav class="pagination mt4 mb4 flex justify-center items-center flex-wrap gap2" aria-label="Navigazione blog">
      {% if paginator.previous_page %}
        <a class="h7 commerce-blog-link px2 py1 border" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo; Indietro</a>
      {% else %}
        <span class="h7 commerce-blog-link px2 py1 border text-muted">&laquo; Indietro</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="h7 px2 py1 border bg-black white">{{ page }}</span>
        {% else %}
          <a class="h7 commerce-blog-link px2 py1 border" href="{% if page == 1 %}{{ site.baseurl }}/blog/{% else %}{{ site.baseurl }}/blog/page{{ page }}/{% endif %}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a class="h7 commerce-blog-link px2 py1 border" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Avanti &raquo;</a>
      {% else %}
        <span class="h7 commerce-blog-link px2 py1 border text-muted">Avanti &raquo;</span>
      {% endif %}
    </nav>
  </section>

  {% include blocks/aside.html %}
</main>
