<!doctype html>
<html ⚡ lang="{{ site.language }}">
  {% include head-page.html %}
  <body>
      {% if site.google.tagmanager_id == true %}
        {% include JB/tag-manager-body.html %}
      {% endif %}

      <!--Litbox empty to use AMP-Lightbox feature-->
      <amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>
      
      {% include header.html %}
    
  
      {{ content }}
      
        {% include footer.html %}    
  
      
        
      {% if site.analytics_id %}
          {% include analytics.html %}
      {% endif %}
  </body>
</html>